@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>HTMX Test</h1>

<p>
    <a href="https://htmx.org/">https://htmx.org/</a>
</p>
<p>
    <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-6.0">Model validation in ASP.NET Core MVC | Microsoft Docs</a>
</p>

<p>
    <button hx-post="SimplePartial" hx-swap="outerHTML">
        Click Me
    </button>
</p>

<partial name="EditPersonPartial" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
}