@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    IsHttps? @Context.Request.IsHttps
</div>
<div>
    Host: @Context.Request.Host
</div>

<h2>Headers</h2>
<table>
    <tbody>
        @foreach (var header in Context.Request.Headers)
        {
            <tr>
                <td>@header.Key</td>
                <td>@header.Value</td>
            </tr>
        }
    </tbody>
</table>

